{% extends 'base.html' %}
{% block content %}

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <br>
    <!-- {% if "title_error" in errors %}<span class="error">Invalid post title.</span>{% endif %} -->
    <label for="password">Password:</label>
    <input type="password" name="username" id="password">
     <!-- {% if "body_error" in errors %}<span class="error">Invalid post body.</span>{% endif %} -->
    <br>
    <input type="submit" value="Submit">
</form>

{% endblock %}

